{% extends "layout.html" %}

{% block page_styles %}
<link rel="stylesheet" href="../static/css/account.css?v=1.1">
{% endblock page_styles %}

{% block content %}
<h1>{{current_user.name}}</h1>

<div class="user-information">
    <h3>Account Information</h3>
    <div class="row">
        <div class="col-md-4">
            <h3>Email</h3>
            {% if has_email %}
                <h6>{{ current_user.email }}<br><a href="{{ url_for('update_email') }}">Update</a></h6>
            {% else %}
                <h6>No Email Provided. You can add one <a href="{{ url_for('update_email') }}">here</a>.</h6>
            {% endif %}
        </div>
        <div class="col-md-4">
            <h3>School</h3>
            <h6>{{ current_user.school }}</h6>
        </div>
        <div class="col-md-4">
            <h3>Phone</h3>
            {% if has_phone %}
                <h6>{{ current_user.phone }}, Carrier: {{ current_user.carrier }} <br> <a href="{{ url_for('update_phone') }}">Update</a></h6>
            {% else %}
                <h6>No Phone Provided. You can add one <a href="{{ url_for('update_phone') }}">here</a>.</h6>
            {% endif %}
        </div>
    </div>
    {% if current_user.school == "TJ" %}
        {% if current_user.hasIon %}
            <h3>Account Linked to ION</h3>
        {% else %}
            <h3>Account Not Linked to ION</h3>
        {% endif %}
    {% endif %}
</div>
<div class="class-information">
    <h3>Class Information</h3>
    <table>
        <tr>
            <th>Class</th>
            <th>Teacher</th>
            <th>Period</th>
            <th>Link</th>
            <th>Email?</th>
            <th>Text?</th>
            <th>Settings</th>
        </tr>
        {% for class in classes %}
            <tr class="sortable class-table-row">
                <td>{{ class.name }}</td>
                <td>{{ class.teacher }}</td>
                <td>{{ class.period }}</td>
                <td><a class="" href="{{ class.link }}" target="_blank">Link</a></td>
                {% if class.email_alert_time == -1 %}
                    <td>None</td>
                {% else %}
                    <td>{{ class.email_alert_time }} min</td>
                {% endif %}
                {% if class.text_alert_time == -1 %}
                    <td>None</td>
                {% else %}
                    <td>{{ class.text_alert_time }} min</td>
                {% endif %}
                <td>
                    <a class="settings" href="{{ url_for('update_class', course_id=class.id) }}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="16" height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFFFFF" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z"/>
                            <path d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                            <circle cx="12" cy="12" r="3" />
                        </svg>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock content %}