{% extends "layout.html" %}

{% block page_styles %}
<link rel="stylesheet" href="../static/css/add_class.css">
{% endblock page_styles %}

{% block content %}
<h1>Add A Class</h1>

<script>
    function disable_form(to_disable){
        console.log('here')
        element = document.getElementById(to_disable)
        element.disabled = !element.disabled
        if(element.style.display == "none"){
            element.style.display = "block"
        }
        else {
            element.style.display = "none"
        }
    }
</script>

<div id="content-div">
    <form action="" method="POST">
        {{ form.csrf_token() }}
        <fieldset>
            <div class="row">
                <div class="form-group col-md-6">
                    {% if form.name.errors %}
                        {{ form.name(class="form-control is-invalid", placholder="Class Name") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %} 
                        {{ form.name(class="form-control", placeholder="Class Name") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-6">
                    {% if form.teacher.errors %}
                        {{ form.teacher(class="form-control is-invalid", placholder="Teacher (Optional)") }}
                        <div class="invalid-feedback">
                            {% for error in form.teacher.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %} 
                        {{ form.teacher(class="form-control", placeholder="Teacher (Optional)") }}
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                {% if form.link.errors %}
                    {{ form.link(class="form-control is-invalid", placholder="Class Link") }}
                    <div class="invalid-feedback">
                        {% for error in form.link.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %} 
                    {{ form.link(class="form-control", placeholder="Class Link") }}
                {% endif %}
            </div>
            <h3>Class Period (TJ)</h3>
            <div class="form-group">
                <div class="color-select">
                    {% for id, value, name in period_list %}
                        <div>
                            <label class="container">
                                <td><input id="{{ id }}" name="period" type="radio" value="{{ value }}"></td>
                                <span class="checkmark"><p class="period-label">{{ name }}</p></span>
                            </label>
                        </div>
                    {% endfor %}
                </div>
                {% if form.link.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.period.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <h3>Class Color</h3>
            <div class="form-group">
                <div class="color-select">
                    {% for id, value, name in color_list %}
                        <div>
                            <label class="container">
                                <td><input id="{{ id }}" name="color" type="radio" value="{{ value }}"></td>
                                <span class="checkmark {{value}}"></span>
                            </label>
                        </div>
                    {% endfor %}
                </div>
                {% if form.link.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.color.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="central row">
                <div id="email-reminders" class="col-md-6">
                    <div class="reminder-column">
                        {% if has_email %}
                            <h3>Email Reminders?</h3>
                            <input type="checkbox" id="switch" class="switch" onclick="disable_form('email_reminder');"/>
                            <label class="switch-label" for="switch">Toggle</label>
                        {% else %}
                            <h5 style="text-align: center; color: grey;">Add Email for Email Reminders</h5>
                        {% endif %}
                    </div>
                    {% if has_email %}
                        {% if form.email_reminder.errors %}
                        {{ form.email_reminder(class="form-control is-invalid", style="display: none", disabled=True) }}
                        <div class="invalid-feedback">
                            {% for error in form.email_reminder.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %} 
                            {{ form.email_reminder(class="form-control", style="display: none", disabled=True) }}
                        {% endif %}
                    {% endif %}
                </div>
                <div id="text-reminders" class="col-md-6">
                    <div class="reminder-column">
                        {% if has_phone %}
                            <h3>Text Reminders?</h3>
                            <input type="checkbox" id="switch2" class="switch" onclick="disable_form('text_reminder');"/>
                            <label class="switch-label" for="switch2">Toggle</label>    
                        {% else %}
                            <h5 style="text-align: center; color: grey;">Add Phone for Text Reminders</h5>
                        {% endif %}
                    </div>
                    {% if has_phone %} 
                        {% if form.text_reminder.errors %}
                            {{ form.text_reminder(class="form-control is-invalid", style="display: none", disabled=True) }}
                            <div class="invalid-feedback">
                                {% for error in form.text_reminder.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %} 
                            {{ form.text_reminder(class="form-control", style="display: none", disabled=True) }}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </fieldset>
        <div class="submit-button">
            {{ form.submit(class="btn-wide btn-color") }}
        </div>
    </form>
</div>
{% endblock content %}