{% extends "layout.html" %}

{% block page_styles %}
<link rel="stylesheet" href="../static/css/add_assignment.css?v=1.2">
{% endblock page_styles %}

{% block content %}
{% if update %}
    <h1> Update Assignment</h1>
{% else %}
    <h1>Add Assignment</h1>
{% endif %}

<form method="POST">
    {{ form.csrf_token() }}
    <fieldset>
        <div class="form-group">
            {% if form.name.errors %}
                {{ form.name(class="form-control is-invalid", placholder="Assignment Name") }}
                <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %} 
                {{ form.name(class="form-control", placeholder="Assignment Name") }}
            {% endif %}
        </div>
        <div class="form-group">
            {% if form.course.errors %}
                {{ form.course(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.course.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %} 
                {{ form.course(class="form-control") }}
            {% endif %}
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                {% if form.due_date.errors %}
                    {{ form.due_date(class="form-control is-invalid datepicker", placeholder="Due Date (MM/DD/YY)") }}
                    <div class="invalid-feedback">
                        {% for error in form.due_date.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %} 
                    {{ form.due_date(class="form-control datepicker", placeholder="Due Date (MM/DD/YY)") }}
                {% endif %}
            </div>
            <div class="form-group col-md-6">
                {% if form.due_time.errors %}
                    {{ form.due_time(class="form-control is-invalid", placeholder="Time Due") }}
                    <div class="invalid-feedback">
                        {% for error in form.due_time.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %} 
                    {{ form.due_time(class="form-control", placeholder="Time Due") }}
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            {% if form.notes.errors %}
                {{ form.notes(class="form-control is-invalid", placeholder="Additional Info (Optional)") }}
                <div class="invalid-feedback">
                    {% for error in form.notes.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %} 
                {{ form.notes(class="form-control", placeholder="Additional Info (Optional)") }}
            {% endif %}
        </div>
    </fieldset>
    <div class="submit-button">
        {{ form.submit(class="btn-wide btn-color") }}
    </div>
</form>
{% endblock content %}