{% extends "layout.html" %}

{% block page_styles %}
<link rel="stylesheet" href="../static/css/add_class.css?v=1.02">
{% endblock page_styles %}

{% block content %}
<script>
    $(document).ready(function(){
        $('.custom-time').click(function(){
            $("#custom-time-div").toggle();
        });

    $('.number_of_classes').on('change',function(){
        if( $(this).val()=="1" ){
            $("#class1").show()
            $("#class2").hide()
            $("#class3").hide()
        }
        else if( $(this).val()=="2" ){
            $("#class1").show()
            $("#class2").show()
            $("#class3").hide()
        }
        else{
            $("#class1").show()
            $("#class2").show()
            $("#class3").show()
        }
    });
});

    $(document).ready(function(){
        $('#color-10').click(function(){
            $(".custom-color").toggle();
        });
    });
</script>


{% if update_class %}
    <h1> Update Class - {{ header }}</h1>
{% else %}
    <h1>{{ header }}</h1>
{% endif %}

<div id="content-div">
    <form action="" method="POST">
        {{ form.csrf_token() }}
        <fieldset>
            <div class="row">
                <div class="form-group col-md-6">
                    {% if form.name.errors %}
                        {{ form.name(class="form-control is-invalid", placholder="Class Name") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %} 
                        {{ form.name(class="form-control", placeholder="Class Name") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-6">
                    {% if form.teacher.errors %}
                        {{ form.teacher(class="form-control is-invalid", placholder="Teacher (Optional)") }}
                        <div class="invalid-feedback">
                            {% for error in form.teacher.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %} 
                        {{ form.teacher(class="form-control", placeholder="Teacher (Optional)") }}
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                {% if form.link.errors %}
                    {{ form.link(class="form-control is-invalid", placholder="Class Link") }}
                    <div class="invalid-feedback">
                        {% for error in form.link.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %} 
                    {{ form.link(class="form-control", placeholder="Class Link") }}
                {% endif %}
            </div>
            <h3>Class Period</h3>
            <div class="form-group">
                <div class="color-select">
                    {% for id, value, name in period_list %}
                        {% if value == period %}
                            <div>
                                <label class="container">
                                    <td><input id="{{ id }}" name="period" type="radio" value="{{ value }}" checked="checked"></td>
                                    <span class="checkmark"><p class="period-label">{{ name }}</p></span>
                                </label>
                            </div>
                        {% else %}
                            <div>
                                <label class="container">
                                    <td><input id="{{ id }}" name="period" type="radio" value="{{ value }}"></td>
                                    <span class="checkmark"><p class="period-label">{{ name }}</p></span>
                                </label>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% if form.period.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.period.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <h3>Class Color</h3>
            <div class="form-group">
                <div class="color-select">
                    {% for id, value, name in color_list %}
                        {% if value == color %}
                            <div>
                                <label class="container">
                                    <td><input id="{{ id }}" name="color" type="radio" value="{{ value }}" checked="checked"></td>
                                    <span class="checkmark {{value}}"></span>
                                </label>
                            </div>
                        {% elif value == "custom" %}
                            <div>
                                <label class="container">
                                    <td><input id="{{ id }}" name="color" type="radio" value="{{ value }}"></td>
                                    <span class="checkmark {{value}}" style="font-size: 8px">Custom</span>
                                </label>
                            </div>
                        {% else %}
                            <div>
                                <label class="container">
                                    <td><input id="{{ id }}" name="color" type="radio" value="{{ value }}"></td>
                                    <span class="checkmark {{value}}"></span>
                                </label>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% if form.color.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.color.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
                </div>
            </div>
            <div class="form-group">
                <div class="custom-color">
                    {% if form.custom_color.errors %}
                        {{ form.custom_color(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.custom_color.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %} 
                        {{ form.custom_color(class="form-control") }}
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <h5>Set Custom Time (Leave unchecked to use {{current_user.school}}'s default)</h5>
                {% if form.custom_time.errors %}
                    {{ form.custom_time(class="form-control is-invalid custom-time") }}
                    <div class="invalid-feedback">
                        {% for error in form.custom_time.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %} 
                    {{ form.custom_time(class="form-control custom-time") }}
                {% endif %}
            </div>
            <div id="custom-time-div">
                <div class="form-group">
                    <h5>How many times a week is your class?</h5>
                    {% if form.number_of_classes.errors %}
                        {{ form.number_of_classes(class="form-control is-invalid number_of_classes") }}
                        <div class="invalid-feedback">
                            {% for error in form.number_of_classes.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %} 
                        {{ form.number_of_classes(class="form-control number_of_classes") }}
                    {% endif %}
                </div>
                <div id="class1" class="custom-time-div-individual">
                    <div class="form-group row class-time-row">
                        <h5>Class 1</h5>
                        {{ form.day1(class="form-control day-field") }} {{ form.hour1(class="form-control hour-field") }} : {{ form.minute1(class="form-control minute-field") }} - {{ form.hour1End(class="form-control hour-field") }} : {{ form.minute1End(class="form-control minute-field") }}
                    </div>
                </div>
                <div id="class2" class="custom-time-div-individual">
                    <div class="form-group row class-time-row">
                        <h5>Class 2</h5>
                        {{ form.day2(class="form-control day-field") }} {{ form.hour2(class="form-control hour-field") }} : {{ form.minute2(class="form-control minute-field") }} - {{ form.hour2End(class="form-control hour-field") }} : {{ form.minute2End(class="form-control minute-field") }}
                    </div>
                </div>
                <div id="class3" class="custom-time-div-individual">
                    <div class="form-group row class-time-row">
                        <h5>Class 3</h5>
                        {{ form.day3(class="form-control day-field") }} {{ form.hour3(class="form-control hour-field") }} : {{ form.minute3(class="form-control minute-field") }} - {{ form.hour3End(class="form-control hour-field") }} : {{ form.minute3End(class="form-control minute-field") }}
                    </div>
                </div>
            </div>
            <div class="central">
                <h3>Desktop Reminders?</h3>
                <div id="email-reminders">
                    {% if form.desktop_reminder.errors %}
                        {{ form.desktop_reminder(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.desktop_reminder.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %} 
                            {{ form.desktop_reminder(class="form-control") }}
                    {% endif %}
                </div>
            </div>
        </fieldset>
        <div class="submit-button">
            {{ form.submit(class="btn-wide btn-color") }}
        </div>
        {% if update_class %}
            <div style="padding-top: 10px; padding-left: 35%; padding-right: 35%">
                <a class="btn-red btn-wide" data-toggle="modal" data-target="#deleteModal">Delete Class</a>
            </div>
        {% endif %}
    </form>

    <!-- Modal -->
    <div class="modal custom fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete {{ header }}?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form action="{{ url_for('delete_class', course_id=course_id) }}" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete">
            </form>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock content %}