{% extends "layout.html" %}

{% block page_styles %}
<link rel="stylesheet" href="../static/css/add_class.css">
<link rel="stylesheet" href="../static/css/on_off_switch.css">
{% endblock page_styles %}

{% block content %}
<h1>Add A Class</h1>

<div id="content-div">
    <form action="" method="POST">
        {{ form.csrf_token() }}
        <fieldset>
            <div class="row">
                <div class="form-group col-md-6">
                    {% if form.name.errors %}
                        {{ form.name(class="form-control is-invalid", placholder="Class Name") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %} 
                        {{ form.name(class="form-control", placeholder="Class Name") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-6">
                    {% if form.teacher.errors %}
                        {{ form.teacher(class="form-control is-invalid", placholder="Teacher (Optional)") }}
                        <div class="invalid-feedback">
                            {% for error in form.teacher.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %} 
                        {{ form.teacher(class="form-control", placeholder="Teacher (Optional)") }}
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                {% if form.link.errors %}
                    {{ form.link(class="form-control is-invalid", placholder="Class Link") }}
                    <div class="invalid-feedback">
                        {% for error in form.link.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %} 
                    {{ form.link(class="form-control", placeholder="Class Link") }}
                {% endif %}
            </div>
            <h3>Class Period (TJ)</h3>
            <div class="form-group">
                <div class="color-select">
                    {% for id, value, name in period_list %}
                        <div>
                            <label class="container">
                                <td><input id="{{ id }}" name="period" type="radio" value="{{ value }}"></td>
                                <span class="checkmark"><p class="period-label">{{ name }}</p></span>
                            </label>
                        </div>
                    {% endfor %}
                </div>
                {% if form.link.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.period.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <h3>Class Color</h3>
            <div class="form-group">
                <div class="color-select">
                    {% for id, value, name in color_list %}
                        <div>
                            <label class="container">
                                <td><input id="{{ id }}" name="color" type="radio" value="{{ value }}"></td>
                                <span class="checkmark {{value}}"></span>
                            </label>
                        </div>
                    {% endfor %}
                </div>
                {% if form.link.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.color.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="central row">
                <div class="reminder-column col-md-6">
                    <h3>Email Reminders?</h3>
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="email-onoffswitch" tabindex="0" checked>
                        <label class="onoffswitch-label" for="email-onoffswitch">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
                <div class="reminder-column col-md-6">
                    <h3>Text Reminders?</h3>
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="text-onoffswitch" tabindex="0" checked>
                        <label class="onoffswitch-label" for="text-onoffswitch">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
        {{ form.submit(class="btn-wide btn-color") }}
    </form>
</div>
{% endblock content %}