{% extends "layout.html" %}

{% block page_styles %}
<link rel="stylesheet" href="../static/css/dashboard.css?v=1.2">
{% endblock page_styles %}

{% block content %}
<!-- <iframe src="https://meet.google.com/twy-ibpj-jgs" title="Google Meets"></iframe> -->
<script>

    function updateDisplay(new_display) {
        console.log("clicked")
        iframe = document.getElementById("iframe")
        options_div = document.getElementsByClassName("options-div")[0]
        if(new_display == "standard"){
            iframe.removeAttribute("style")
            options_div.removeAttribute("style")
            iframe.style.width = "100%";
            iframe.style.height = "100%";
            document.getElementsByClassName("classes-column")[0].style.display = "block";
            document.getElementsByClassName("class-container")[0].classList.remove("col-md-12"); 
            document.getElementsByClassName("site-header")[0].style.display = "block";
        }
        else if(new_display == "theater"){
            iframe.removeAttribute("style")
            options_div.removeAttribute("style")
            iframe.style.width = "100%";
            iframe.style.height = "100%";
            document.getElementsByClassName("classes-column")[0].style.display = "none";
            document.getElementsByClassName("class-container")[0].classList.add("col-md-12");
            document.getElementsByClassName("site-header")[0].style.display = "block";
        }
        else if(new_display == "full-screen"){
            iframe.style.position = "fixed";
            iframe.style.top = 0;
            iframe.style.left = 0;
            iframe.style.right = 0;
            iframe.style.bottom = 0;
            iframe.style.width = "100%";
            iframe.style.height = "100%"; // "calc(100% - 60px)";
            iframe.style.border = "none";
            iframe.style.margin = '0 0 0 0';
            iframe.style.padding = 0;
            iframe.style.overflow = "hidden";
            iframe.style.left = 999999;   

            options_div.style.position = "fixed";
            options_div.style.top = 0;
            options_div.style.right = "30%";
            options_div.style.left = "30%";

            document.getElementsByClassName("site-header")[0].style.display = "none";
        }
    }

    $('.expand-button').click(function(){
        console.log("Here")
        $(this).find('.extra-div').toggle()
    })
</script>

{% if current_class != "" %}
    <script>
        window.onbeforeunload = function() {
            return true;
        };
    </script>
{% endif %}

{% if current_user.is_authenticated %}
    <div id="content-container" class="row">
        <div class="col-md-3 content-column classes-column">
            <div class="row">
                <h3>Classes</h3>
            </div>
            <div class="classes">
                {% for class, time_string in classes %}
                    {% if class.link == current_class %}
                        <div class="class-card current-class" style="border: solid 5px {{ class.color }};">
                            <div class="main-div current-class">
                                <p style="text-align: center">Currently In:</p>
                                {% if class.period == "Homeroom" %}
                                    <strong><h5>{{ class.name }}</h5></strong>
                                {% else %}
                                    <strong><h5>{{ class.name }} - Period {{ class.period }}</h5></strong>
                                {% endif %}
                                    <p><strong style="font-size: 11px">This Week: {{ time_string }}</strong>
                                    {% if class.office_hours %}
                                        {% for day in class.office_hours %}
                                            <br>Office Hours: {{ day }} {{ class.office_hours[day]["start"] }} - {{ class.office_hours[day]["end"] }}
                                        {% endfor %}
                                    {% endif %}
                                </p>
                            </div>
                            <div class="extra-div" style="">
                                {% if class.links %}
                                    {% for name in class.links %}
                                        <div class="row">
                                            <a href="{{ class.links[name] }}" target="_blank" style="font-size: 12px">{{ name }}</a>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                {% if class.teacher_contact %}
                                    <div class="row" style="margin-top: 5px">
                                        {% if class.teacher and class.teacher != "" %}
                                            <a style="font-size: 12px" href="mailto:{{ class.teacher_contact['email'] }}" target="_blank" style="font-size: 11px">Email {{ class.teacher }}</a>
                                        {% else %}
                                            <a style="font-size: 12px" href="mailto:{{ class.teacher_contact['email'] }}" target="_blank" style="font-size: 11px">Email Teacher</a>
                                        {% endif %}
                                    </div>
                                {% endif %}
                                <!-- <div class="row">
                                    <div class="col-md-6">
                                        <a class="btn-dark btn-wide text-small" title="Coming Soon!">Planner</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a class="btn-dark btn-wide text-small" title="Coming Soon!">Notes</a>
                                    </div>
                                </div> -->
                                <div class="row" style="margin-top: 5px">
                                    <div class="col-md-6">
                                        <a class="btn-dark btn-wide text-small" href="{{ url_for('classroom', course_id=class.id) }}">Join Class</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a class="btn-dark btn-wide text-small" href="{{ class.link }}" target="_blank">Join Externally</a>
                                    </div>
                                </div>
                                <a class="settings-icon" href="{{ url_for('update_class', course_id=class.id) }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFFFFF" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z"/>
                                        <path d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                                        <circle cx="12" cy="12" r="3" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    {% elif "https://us.bbcollab.com/invite/" in class.link %}
                        <div class="class-card" style="border: solid 3px {{ class.color }};">
                            <!-- <a class="expand-button">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-caret-down" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFFFFF" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z"/>
                                    <path d="M18 15l-6-6l-6 6h12" transform="rotate(180 12 12)" />
                                </svg>
                            </a> -->
                            <div class="main-div">
                                {% if class.period == "Homeroom" %}
                                    <h5>{{ class.name }}</h5>
                                {% else %}
                                    <h5>{{ class.name }} - Period {{ class.period }}</h5>
                                {% endif %}
                                    <p style="font-size: 11px">This Week: {{ time_string }}
                                    {% if class.office_hours %}
                                        {% for day in class.office_hours %}
                                            <br>Office Hours: {{ day }} {{ class.office_hours[day]["start"] }} - {{ class.office_hours[day]["end"] }}
                                        {% endfor %}
                                    {% endif %}
                                </p>
                            </div>
                            <div class="extra-div" style="">
                                {% if class.links %}
                                    {% for name in class.links %}
                                        <div class="row">
                                            <a href="{{ class.links[name] }}" target="_blank" style="font-size: 12px">{{ name }}</a>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                {% if class.teacher_contact %}
                                    <div class="row" style="margin-top: 5px">
                                        {% if class.teacher and class.teacher != "" %}
                                            <a style="font-size: 12px" href="mailto:{{ class.teacher_contact['email'] }}" target="_blank" style="font-size: 11px">Email {{ class.teacher }}</a>
                                        {% else %}
                                            <a style="font-size: 12px" href="mailto:{{ class.teacher_contact['email'] }}" target="_blank" style="font-size: 11px">Email Teacher</a>
                                        {% endif %}
                                    </div>
                                {% endif %}
                                <!-- <div class="row">
                                    <div class="col-md-6">
                                        <a class="btn-dark btn-wide text-small" title="Coming Soon!">Planner</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a class="btn-dark btn-wide text-small" title="Coming Soon!">Notes</a>
                                    </div>
                                </div> -->
                                <div class="row" style="margin-top: 5px">
                                    <div class="col-md-6">
                                        <a class="btn-dark btn-wide text-small" href="{{ url_for('classroom', course_id=class.id) }}">Join Class</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a class="btn-dark btn-wide text-small" href="{{ class.link }}" target="_blank">Join Externally</a>
                                    </div>
                                </div>
                                <a class="settings-icon" href="{{ url_for('update_class', course_id=class.id) }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFFFFF" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z"/>
                                        <path d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                                        <circle cx="12" cy="12" r="3" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <div class="class-card" style="border: solid 3px {{ class.color }};">
                            <!-- <a class="expand-button">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-caret-down" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFFFFF" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z"/>
                                    <path d="M18 15l-6-6l-6 6h12" transform="rotate(180 12 12)" />
                                </svg>
                            </a> -->
                            <div class="main-div">
                                {% if class.period == "Homeroom" %}
                                    <h5>{{ class.name }}</h5>
                                {% else %}
                                    <h5>{{ class.name }} - Period {{ class.period }}</h5>
                                {% endif %}
                                    <p style="font-size: 11px">This Week: {{ time_string }}
                                    {% if class.office_hours %}
                                        {% for day in class.office_hours %}
                                            <br>Office Hours: {{ day }} {{ class.office_hours[day]["start"] }} - {{ class.office_hours[day]["end"] }}
                                        {% endfor %}
                                    {% endif %}
                                </p>
                            </div>
                            <div class="extra-div" style="">
                                {% if class.links %}
                                    {% for name in class.links %}
                                        <div class="row">
                                            <a href="{{ class.links[name] }}" target="_blank" style="font-size: 12px">{{ name }}</a>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                {% if class.teacher_contact %}
                                    <h1>{{ class.teacher_contact }}</h1>
                                    <div class="row" style="margin-top: 5px">
                                        {% if class.teacher and class.teacher != "" %}
                                            <a href="mailto:{{ class.teacher_contact['email'] }}" target="_blank" style="font-size: 11px">Email {{ class.teacher }}</a>
                                        {% else %}
                                            <a href="mailto:{{ class.teacher_contact['email'] }}" target="_blank" style="font-size: 11px">Email Teacher</a>
                                        {% endif %}
                                    </div>
                                {% endif %}
                                <!-- <div class="row">
                                    <div class="col-md-6">
                                        <a class="btn-dark btn-wide text-small" title="Coming Soon!">Planner</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a class="btn-dark btn-wide text-small" title="Coming Soon!">Notes</a>
                                    </div>
                                </div> -->
                                <div class="row" style="margin-top: 5px">
                                    <a class="btn-dark btn-wide text-small" href="{{ class.link }}" target="_blank">Join Externally</a>
                                </div>
                                <a class="settings-icon" href="{{ url_for('update_class', course_id=class.id) }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFFFFF" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z"/>
                                        <path d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                                        <circle cx="12" cy="12" r="3" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    {% endif %}

                    <!-- {% if class.link == current_class %}
                        <div class="class-card current-class" style="border: solid 3px {{ class.color }};">
                            <div class="text-div current-class">
                    {% elif "https://us.bbcollab.com/invite/" in class.link %}
                        <div class="class-card" style="border: solid 3px {{ class.color }};">
                            <a href="{{ url_for('classroom', course_id=class.id) }}">
                                <div class="text-div">
                    {% else %}
                        <div class="class-card" style="border: solid 3px {{ class.color }};">
                            <a href="{{ class.link }}" target="_blank">
                                <div class="text-div">
                    {% endif %} -->
                {% endfor %}
            </div>
            <div class="button">
                <div class="row" style="padding-top: 5px">
                    <!-- <div class="col-md-6"> -->
                    <a class="btn-dark btn-wide" href="{{ url_for('add_class') }}">Add Class</a>
                    <!-- </div>
                    <div class="col-md-6">
                        <a class="btn-light btn-wide" href="{{ url_for('import_classes') }}">Import All</a>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="col-md-9 content-column class-container">
            {% if current_class == "" %}
                <h3>Hi {{ name }}! <br> {{ text }}</h3>
                {% if error %}
                    <p>{{ error }}</p>
                {% endif %}
            {% else %}
                <iframe id="iframe" style="width: 100%; height: 100%" allow="camera *; microphone *" 
                        src="{{ current_class }}" title="Classroom">
                    Your browser doesn't support this feature. Try a different browser for a better experience.    
                </iframe>
            {% endif %}
        </div>
        <!-- <a class="btn-light btn-wide" onClick="fullScreen();">Full Screen</a> -->
    </div>
    {% if current_class != "" %}
        <div class="row options-div">
            <input class="select-display-button" type="radio" id="standard" name="display" value="standard" checked="checked" onclick="updateDisplay('standard');">
            <label for="standard">Standard</label><br>
            <input class="select-display-button" type="radio" id="theater" name="display" value="theater" onclick="updateDisplay('theater');">
            <label for="theater">Theater</label><br>
            <input class="select-display-button" type="radio" id="full-screen" name="display" value="full-screen" onclick="updateDisplay('full-screen');">
            <label for="full-screen">Full Screen</label>
        </div>
    {% endif %}
{% else %}
    <h1>Please Log In</h1>
{% endif %}

{% if update %}
    <div id="home-modal" class="modal animate__animated animate__slideInDown" tabindex="-1" style="color: black;">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title">Updates - {{ update.name }} - v{{ update.version }}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <h6 style="text-align: left">{{ update.headline }}</h6>
                <h6><strong>New Changes:</strong></h6>
                <ul>
                    {% for up in update.updates %}
                        <li>{{ up }}</li>
                    {% endfor %}
                </ul>
                <hr>
                <h6><strong>Coming Soon:</strong></h6>
                <ul>
                    {% for up in update.coming_soon %}
                        <li>{{ up }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
            <button id="close-button" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>
{% endif %}

{% endblock content %}