{% extends "layout.html" %}

{% block page_styles %}
<link rel="stylesheet" href="../static/css/dashboard.css?v=1.3">
<!-- <script type="text/babel" src="../static/js/assignments_bar.js"></script> -->
{% endblock page_styles %}

{% block content %}
<!-- <iframe src="https://meet.google.com/twy-ibpj-jgs" title="Google Meets"></iframe> -->
<script>
    var classes_hidden = false;
    var assignments_hidden = false;

    function openClasses() {
        column = document.getElementsByClassName("classes-column")[0];
        classroom = document.getElementsByClassName("class-container")[0];
        show_button = document.getElementById("show-classes");

        column.style.display = "block";
        classroom.classList.remove("col-md-6");
        classroom.classList.remove("col-md-9");
        classroom.classList.remove("col-md-12");
        if(assignments_hidden){
            classroom.classList.add("col-md-9");
        }
        else {
            classroom.classList.add("col-md-6");
        }

        show_button.style.display = "none";
        classes_hidden = false;
        if(!classes_hidden || !assignments_hidden && document.getElementById("theater").checked){
            document.getElementById("standard").checked = true;
        }
    }
    
    function closeClasses() {
        column = document.getElementsByClassName("classes-column")[0];
        classroom = document.getElementsByClassName("class-container")[0];
        show_button = document.getElementById("show-classes");

        column.style.display = "none";
        classroom.classList.remove("col-md-6");
        classroom.classList.remove("col-md-9");
        classroom.classList.remove("col-md-12");
        if(assignments_hidden){
            classroom.classList.add("col-md-12");
        }
        else {
            classroom.classList.add("col-md-9");
        }

        show_button.style.display = "block";
        classes_hidden = true;
        if(classes_hidden && assignments_hidden && document.getElementById("standard").checked){
            document.getElementById("theater").checked = true;
        }
    }

    function openAssignments() {
        column = document.getElementsByClassName("assignments-column")[0];
        classroom = document.getElementsByClassName("class-container")[0];
        show_button = document.getElementById("show-assignments");

        column.style.display = "block";
        classroom.classList.remove("col-md-6");
        classroom.classList.remove("col-md-9");
        classroom.classList.remove("col-md-12");
        if(classes_hidden){
            classroom.classList.add("col-md-9");
        }
        else {
            classroom.classList.add("col-md-6");
        }

        show_button.style.display = "none";
        assignments_hidden = false;
        if(!classes_hidden || !assignments_hidden && document.getElementById("theater").checked){
            document.getElementById("standard").checked = true;
        }
    }

    function closeAssignments() {
        column = document.getElementsByClassName("assignments-column")[0];
        classroom = document.getElementsByClassName("class-container")[0];
        show_button = document.getElementById("show-assignments");

        column.style.display = "none";
        classroom.classList.remove("col-md-6");
        classroom.classList.remove("col-md-9");
        classroom.classList.remove("col-md-12");
        if(classes_hidden){
            classroom.classList.add("col-md-12");
        }
        else {
            classroom.classList.add("col-md-9");
        }

        show_button.style.display = "block";
        assignments_hidden = true;
        if(classes_hidden && assignments_hidden && document.getElementById("standard").checked){
            document.getElementById("theater").checked = true;
        }
    }

    function updateDisplay(new_display) {
        console.log("clicked")
        iframe = document.getElementById("iframe")
        options_div = document.getElementsByClassName("options-div")[0]
        if(new_display == "standard" || new_display == "theater"){
            iframe.removeAttribute("style")
            options_div.removeAttribute("style")
            iframe.style.width = "100%";
            iframe.style.height = "100%";
            document.getElementsByClassName("classes-column")[0].style.display = "block";
            document.getElementsByClassName("class-container")[0].classList.remove("col-md-12"); 
            document.getElementsByClassName("site-header")[0].style.display = "block";

            if(new_display == "standard"){
                openClasses();
                openAssignments();
            }
            else {
                closeClasses();
                closeAssignments();
            }
        }
        else if(new_display == "native" || new_display == "full-screen"){
            closeClasses();
            closeAssignments();
            iframe.style.position = "fixed";
            iframe.style.top = 0;
            iframe.style.left = 0;
            iframe.style.right = 0;
            iframe.style.bottom = 0;
            iframe.style.width = "100%";
            iframe.style.height = "100%"; // "calc(100% - 60px)";
            iframe.style.border = "none";
            iframe.style.margin = '0 0 0 0';
            iframe.style.padding = 0;
            iframe.style.overflow = "hidden";
            iframe.style.left = 999999;   

            options_div.style.position = "fixed";
            options_div.style.top = 0;
            options_div.style.right = "30%";
            options_div.style.left = "30%";

            document.getElementsByClassName("site-header")[0].style.display = "none";

            if(new_display == "full-screen"){
                iframe.requestFullscreen();
            }
        }
    }

    // document.getElementById('iframe').addEventListener('fullscreenchange', (event) => {
    //     if (!document.fullscreenElement) {
    //         document.getElementById("native").checked = true;
    //     }
    // });
    function update_assignments(course, value) {
        console.log(course + " " + value)
        $("#assignments-updated").load("/get_assignments/" + course + "/" + value);
    }

    document.addEventListener('DOMContentLoaded', function(){
        update_assignments("all", "all");
        setInterval(update_assignments(document.getElementById('assignment-class').value, document.getElementById('assignment-type').value), 60000);
    }, false);


    $(document).on('click', function(){
        $('.complete-button').on('click', function(){
            console.log('here')
            $('.complete-div').css({'display' : 'none'})
            $('.delete-div').css({'display' : 'none'})
            $('#complete-div-' + $(this).attr('id')).css({'display' : 'block'})
            console.log('#complete-div-' + $(this).attr('id'))
        });

        $('.delete-button').on('click', function(){
            $('.complete-div').css({'display' : 'none'})
            $('.delete-div').css({'display' : 'none'})
            $('#delete-div-' + $(this).attr('id')).css({'display' : 'block'})
            console.log('#complete-div-' + $(this).attr('id'))
        });

        $('.confirm-complete-button').on('click', function(){
            $.ajax({
                 type: "POST",
                 url: "/complete_assignment/" + $(this).attr('id').substring(24)
            });
            $(this).parent().parent().parent().fadeOut(1000)
        });

        $('.confirm-delete-button').on('click', function(){
            $.ajax({
                 type: "POST",
                 url: "/delete_assignment/" + $(this).attr('id').substring(22)
            });
            $(this).parent().parent().parent().fadeOut(1000)
        });

        $('.cancel-button').on('click', function(){
            $('.complete-div').css({'display' : 'none'})
            $('.delete-div').css({'display' : 'none'})
        });

        $('#force-refresh').on('click', function(){
            update_assignments($('#assignment-class').val(), $('#assignment-type').val());
        });

        $('#assignment-class').on('change', function(){
            update_assignments($('#assignment-class').val(), $('#assignment-type').val());
        });

        $('#assignment-type').on('change', function(){
            update_assignments($('#assignment-class').val(), $('#assignment-type').val());
        });
    });
</script>

{% if 'bbcollab' in current_class %}
<script>
    window.addEventListener('load', (event) => {
        closeAssignments();
    });
</script>
{% endif %}

{% if 'zoom' in current_class %}
    <!-- <script src="https://source.zoom.us/1.7.2/lib/vendor/react.min.js"></script>
    <script src="https://source.zoom.us/1.7.2/lib/vendor/react-dom.min.js"></script>
    <script src="https://source.zoom.us/1.7.2/lib/vendor/redux.min.js"></script>
    <script src="https://source.zoom.us/1.7.2/lib/vendor/redux-thunk.min.js"></script>
    <script src="https://source.zoom.us/1.7.2/lib/vendor/jquery.min.js"></script>
    <script src="https://source.zoom.us/1.7.2/lib/vendor/lodash.min.js"></script>
    <!-- <script src="https://source.zoom.us/zoom-meeting-1.7.2.min.js"></script> -->

    <!-- <script>
        console.log('here')
        // ZoomMtg.setZoomJSLib('https://source.zoom.us/1.7.2/lib', '/av'); 
    </script> -->
{% endif %}

{% if 'bbcollab' in current_class %}
    <script>
        window.onbeforeunload = function() {
            return true;
        };
    </script>
{% endif %}

{% if current_user.is_authenticated %}
    <div id="content-container" class="row">
        <div class="col-md-3 content-column classes-column">
            <div class="row">
                <h3>Classes</h3>
            </div>
            <div class="classes">
                {% for class, time_string in classes %}
                    {% if class.link == current_class %}
                        <div class="class-card current-class" style="border: solid 5px {{ class.color }};">
                            <div class="main-div current-class">
                                <p style="text-align: center">Currently In:</p>
                                {% if class.period == "Homeroom" %}
                                    <strong><h5>{{ class.name }}</h5></strong>
                                {% else %}
                                    <strong><h5>{{ class.name }} - Period {{ class.period }}</h5></strong>
                                {% endif %}
                                    <p><strong style="font-size: 10px">This Week: {{ time_string }}</strong>
                                    {% if class.office_hours %}
                                        {% for day in class.office_hours %}
                                            <br>Office Hours: {{ day }} {{ class.office_hours[day]["start"] }} - {{ class.office_hours[day]["end"] }}
                                        {% endfor %}
                                    {% endif %}
                                </p>
                            </div>
                            <div class="extra-div" style="">
                                {% if class.links %}
                                    {% for name in class.links %}
                                        <div class="row">
                                            {% if 'http://' in class.links[name] or 'https://' in class.links[name] %}
                                                <a href="{{ class.links[name] }}" target="_blank" style="font-size: 12px">{{ name }}</a>
                                            {% else %}
                                                <a href="http://{{ class.links[name] }}" target="_blank" style="font-size: 12px">{{ name }}</a>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                {% if class.teacher_contact %}
                                    <div class="row" style="margin-top: 5px">
                                        {% if class.teacher and class.teacher != "" %}
                                            <a style="font-size: 12px" href="mailto:{{ class.teacher_contact['email'] }}" target="_blank" style="font-size: 11px">Email {{ class.teacher }}</a>
                                        {% else %}
                                            <a style="font-size: 12px" href="mailto:{{ class.teacher_contact['email'] }}" target="_blank" style="font-size: 11px">Email Teacher</a>
                                        {% endif %}
                                    </div>
                                {% endif %}
                                <!-- <div class="row">
                                    <div class="col-md-6">
                                        <a class="btn-dark btn-wide text-small" title="Coming Soon!">Planner</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a class="btn-dark btn-wide text-small" title="Coming Soon!">Notes</a>
                                    </div>
                                </div> -->
                                <div class="row" style="margin-top: 5px">
                                    <div class="col-md-6">
                                        <a class="btn-dark btn-wide text-small" href="{{ url_for('classroom', course_id=class.id) }}">Join Class</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a class="btn-dark btn-wide text-small" href="{{ class.link }}" target="_blank">Join Externally</a>
                                    </div>
                                </div>
                                <a class="settings-icon" href="{{ url_for('update_class', course_id=class.id) }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFFFFF" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M9 7h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3" />
                                        <path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3" />
                                        <line x1="16" y1="5" x2="19" y2="8" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    {% elif "https://us.bbcollab.com/invite/" in class.link %}
                        <div class="class-card" style="border: solid 3px {{ class.color }};">
                            <!-- <a class="expand-button">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-caret-down" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFFFFF" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z"/>
                                    <path d="M18 15l-6-6l-6 6h12" transform="rotate(180 12 12)" />
                                </svg>
                            </a> -->
                            <div class="main-div">
                                {% if class.period == "Homeroom" %}
                                    <h5>{{ class.name }}</h5>
                                {% else %}
                                    <h5>{{ class.name }} - Period {{ class.period }}</h5>
                                {% endif %}
                                    <p style="font-size: 10px">This Week: {{ time_string }}
                                    {% if class.office_hours %}
                                        {% for day in class.office_hours %}
                                            <br>Office Hours: {{ day }} {{ class.office_hours[day]["start"] }} - {{ class.office_hours[day]["end"] }}
                                        {% endfor %}
                                    {% endif %}
                                </p>
                            </div>
                            <div class="extra-div" style="">
                                {% if class.links %}
                                    {% for name in class.links %}
                                        <div class="row">
                                            {% if 'http://' in class.links[name] or 'https://' in class.links[name] %}
                                                <a href="{{ class.links[name] }}" target="_blank" style="font-size: 12px">{{ name }}</a>
                                            {% else %}
                                                <a href="http://{{ class.links[name] }}" target="_blank" style="font-size: 12px">{{ name }}</a>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                {% if class.teacher_contact %}
                                    <div class="row" style="margin-top: 5px">
                                        {% if class.teacher and class.teacher != "" %}
                                            <a style="font-size: 12px" href="mailto:{{ class.teacher_contact['email'] }}" target="_blank" style="font-size: 11px">Email {{ class.teacher }}</a>
                                        {% else %}
                                            <a style="font-size: 12px" href="mailto:{{ class.teacher_contact['email'] }}" target="_blank" style="font-size: 11px">Email Teacher</a>
                                        {% endif %}
                                    </div>
                                {% endif %}
                                <!-- <div class="row">
                                    <div class="col-md-6">
                                        <a class="btn-dark btn-wide text-small" title="Coming Soon!">Planner</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a class="btn-dark btn-wide text-small" title="Coming Soon!">Notes</a>
                                    </div>
                                </div> -->
                                <div class="row" style="margin-top: 5px">
                                    <div class="col-md-6">
                                        <a class="btn-dark btn-wide text-small" href="{{ url_for('classroom', course_id=class.id) }}">Join Class</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a class="btn-dark btn-wide text-small" href="{{ class.link }}" target="_blank">Join Externally</a>
                                    </div>
                                </div>
                                <a class="settings-icon" href="{{ url_for('update_class', course_id=class.id) }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFFFFF" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M9 7h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3" />
                                        <path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3" />
                                        <line x1="16" y1="5" x2="19" y2="8" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <div class="class-card" style="border: solid 3px {{ class.color }};">
                            <!-- <a class="expand-button">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-caret-down" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFFFFF" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z"/>
                                    <path d="M18 15l-6-6l-6 6h12" transform="rotate(180 12 12)" />
                                </svg>
                            </a> -->
                            <div class="main-div">
                                {% if class.period == "Homeroom" %}
                                    <h5>{{ class.name }}</h5>
                                {% else %}
                                    <h5>{{ class.name }} - Period {{ class.period }}</h5>
                                {% endif %}
                                    <p style="font-size: 10px">This Week: {{ time_string }}
                                    {% if class.office_hours %}
                                        {% for day in class.office_hours %}
                                            <br>Office Hours: {{ day }} {{ class.office_hours[day]["start"] }} - {{ class.office_hours[day]["end"] }}
                                        {% endfor %}
                                    {% endif %}
                                </p>
                            </div>
                            <div class="extra-div" style="">
                                {% if class.links %}
                                    {% for name in class.links %}
                                        <div class="row">
                                            {% if 'http://' in class.links[name] or 'https://' in class.links[name] %}
                                                <a href="{{ class.links[name] }}" target="_blank" style="font-size: 12px">{{ name }}</a>
                                            {% else %}
                                                <a href="http://{{ class.links[name] }}" target="_blank" style="font-size: 12px">{{ name }}</a>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                {% if class.teacher_contact %}
                                    <h1>{{ class.teacher_contact }}</h1>
                                    <div class="row" style="margin-top: 5px">
                                        {% if class.teacher and class.teacher != "" %}
                                            <a href="mailto:{{ class.teacher_contact['email'] }}" target="_blank" style="font-size: 11px">Email {{ class.teacher }}</a>
                                        {% else %}
                                            <a href="mailto:{{ class.teacher_contact['email'] }}" target="_blank" style="font-size: 11px">Email Teacher</a>
                                        {% endif %}
                                    </div>
                                {% endif %}
                                <!-- <div class="row">
                                    <div class="col-md-6">
                                        <a class="btn-dark btn-wide text-small" title="Coming Soon!">Planner</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a class="btn-dark btn-wide text-small" title="Coming Soon!">Notes</a>
                                    </div>
                                </div> -->
                                <div class="row" style="margin-top: 5px">
                                    <a class="btn-dark btn-wide text-small" href="{{ url_for('classroom', course_id=class.id) }}" onclick="window.open('{{ class.link }}', '_blank');">Join Externally</a>
                                </div>
                                <a class="settings-icon" href="{{ url_for('update_class', course_id=class.id) }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFFFFF" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M9 7h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3" />
                                        <path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3" />
                                        <line x1="16" y1="5" x2="19" y2="8" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="button">
                <div class="row" style="margin-top: 3px">
                    {% if 'bbcollab' in current_class %}
                        <a class="btn-dark btn-wide" href="{{ url_for('add_class') }}" target="_blank">Add Class</a>
                    {% else %}
                        <a class="btn-dark btn-wide" href="{{ url_for('add_class') }}">Add Class</a>
                    {% endif %}
                </div>
            </div>
            {% if 'bbcollab' in current_class %}
                <a class="btn-color btn-wide" style="font-size: 12px; margin-top: 10px; width: 70%" onclick="closeClasses();">Hide Classes</a>
            {% endif %}
        </div>
        <div class="content-column class-container col-md-6">
            {% if 'bbcollab' not in current_class %}
                <h3>Hi {{ name }}! <br> {{ text }}</h3>
                {% if error %}
                    <p>{{ error }}</p>
                {% endif %}
            {% else %}
                {% if 'bbcollab' in current_class %}
                    <iframe id="iframe" style="width: 100%; height: 100%" allow="camera *; microphone *" 
                            src="{{ current_class }}" title="Classroom">
                        Your browser doesn't support this feature. Try a different browser for a better experience.    
                    </iframe>
                {% endif %}
            {% endif %}
        </div>
        <div class="col-md-3 content-column assignments-column">
            <div class="row">
            <h3>Assignments</h3>
            </div>
            <div id="assignments-updated" class="assignments">
                
            </div>
            <div class="button">
                <div class="row" style="margin-top: 3px">
                    {% if classes|length != 0 %}
                        {% if 'bbcollab' in current_class %}
                            <a class="btn-dark btn-wide" href="{{ url_for('add_assignment', close=True) }}" target="_blank">Add Assignment</a>
                        {% else %}
                            <a class="btn-dark btn-wide" href="{{ url_for('add_assignment') }}">Add Assignment</a>
                        {% endif %}
                    {% else %}
                        <a class="btn-dark btn-wide" title="Add a class to add assignments!">Add Assignment</a>
                    {% endif %}
                </div>
            </div>
            <div class="row" style="font-size: 11px; margin-top: 10px;">
                {% if 'bbcollab' in current_class %}
                    <div class="col-md-6">
                        <a id="force-refresh" class="btn-dark btn-wide">Refresh Assignments</a>
                    </div>
                    <div class="col-md-6">
                        <a class="btn-color btn-wide" onclick="closeAssignments();">Hide Assignments</a>
                    </div>
                {% endif %}
            </div>
            <h5 style="margin-top: 10px">Filters:</h5>
            <div class="row" style="font-size: 12px; margin-top: 10px;">
                <div class="col-md-6">
                    <select id="assignment-class" style="width: 100%">
                        <option value="all">All Classes</option>
                        {% for class, time_string in classes %}
                            <option value="{{ class.id }}">{{ class.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-6">
                    <select id="assignment-type" style="width: 100%">
                        <option value="all">All Types</option>
                        <option value="Homework">Homework</option>
                        <option value="Reading">Reading</option>
                        <option value="Studying">Studying</option>
                        <option value="Project">Project</option>
                        <option value="Test">Test</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    {% if 'bbcollab' in current_class %}
        <div class="row options-div">
            <input class="select-display-button" type="radio" id="standard" name="display" value="standard" checked="checked" onclick="updateDisplay('standard');">
            <label for="standard">Standard</label><br>
            <input class="select-display-button" type="radio" id="theater" name="display" value="theater" onclick="updateDisplay('theater');">
            <label for="theater">Theater</label><br>
            <input class="select-display-button" type="radio" id="native" name="display" value="native" onclick="updateDisplay('native');">
            <label for="native">Native</label>
            <input class="select-display-button" type="radio" id="full-screen" name="display" value="full-screen" onclick="updateDisplay('full-screen');">
            <label for="full-screen">Full Screen</label>
        </div>
        <a id="show-classes" class="btn-color btn-wide" style="font-size: 10px; margin-top: 10px; width: 50%;" onclick="openClasses();">Show Class Bar</a>
        <a id="show-assignments" class="btn-color btn-wide" style="font-size: 10px; margin-top: 10px; width: 50%;" onclick="openAssignments();">Show Assignments Bar</a>
    {% endif %}
{% else %}
    <h1>Please Log In</h1>
{% endif %}

{% if update is not none %}
    <div id="home-modal" class="modal animate__animated animate__slideInDown" tabindex="-1" style="color: black;">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title">Updates - {{ update.name }} - v{{ update.version }}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <h6 style="text-align: left">{{ update.headline }}</h6>
                <h6><strong>New Changes:</strong></h6>
                <ul>
                    {% for up in update.updates %}
                        <li>{{ up }}</li>
                    {% endfor %}
                </ul>
                <hr>
                <h6><strong>Coming Soon:</strong></h6>
                <ul>
                    {% for up in update.coming_soon %}
                        <li>{{ up }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
            <button id="close-button" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>
{% endif %}

{% endblock content %}