{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Meta tags for link previews -->

    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="The Locker - Your Virtual School Assistant" />
    <meta property="og:description"        content="Managing your classes has never been easier." />
    <meta property="og:image"              content="./static/images/preview.png" />
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}?v=1.1" />
    {% block page_styles %}{% endblock page_styles %}
    
    {% if title %}
        <title>The Locker - {{ title }}</title>
    {% else %}
        <title>The Locker</title>
    {% endif %}

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/locker.ico') }}" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    <script>
        $(window).on("load", function () {
            var urlHash = window.location.href.split("#")[1];
            if (urlHash.length > 0)
                $('html,body').animate({
                    scrollTop: $('#' + urlHash).offset().top
                }, 4000);
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#home-modal").modal('show');
        });
    </script>
</head>

<body>
    <header class="site-header" style="padding-bottom: 10px">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a id="logo_title" class="navbar-brand" href="{{ url_for('home', _anchor='home') }}">
                <img src="{{ url_for('static', filename='images/locker_white.png') }}">The Locker
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                {% if not current_user.is_authenticated %}
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="{{ url_for('home', _anchor='about') }}">About</a>
                        <a class="nav-item nav-link" href="{{ url_for('home', _anchor='contact') }}">Contact</a>
                    </div>
                {% else %}
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="{{ url_for('dashboard') }}">Dashboard</a>
                        <a class="nav-item nav-link" href="{{ url_for('home', _anchor='about') }}">About</a>
                        <a class="nav-item nav-link" href="{{ url_for('home', _anchor='contact') }}">Contact</a>
                    </div>
                {% endif %}
                <!-- Navbar Right Side -->
                <div class="navbar-nav ml-auto">
                    {% if not current_user.is_authenticated %}
                        <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
                        <a class="nav-item nav-link" href="{{ url_for('login') }}">Log In</a>
                    {% else %}
                        <a class="nav-item nav-link" href="{{ url_for('account') }}">{{ current_user.name }}</a>
                        <a class="nav-item nav-link" href="{{ url_for('logout') }}">Log Out</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
    <main role="main">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %} 
            {% endif %} 
        {% endwith %} 
    {% block content %}{% endblock content %}
    </main>
    <footer class="mcontainer">
        <p>
            <small style="text-align: center">
                <p>Created by Ron Nachum, Shrey Gupta, and Nicholas Britto</p>
                <a href="{{ url_for('privacy_policy') }}">Privacy Policy</a>
            </small>
        </p>
    </footer>

    <!-- React -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <!-- My JS -->
    
    {% block scripts %}{% endblock scripts %}
</body>

</html>