{% extends "layout.html" %}

{% block page_styles %}
<link rel="stylesheet" href="../static/css/login.css?v=1.02">
{% endblock page_styles %}

{% block content %}
<h1>Login</h1>
    <div class="form-div" style="padding-top: 15px;">
        <form action="" method="POST">
            {{ form.csrf_token() }}
            <fieldset>
                <div class="form-group">
                    {% if form.email.errors %}
                        {{ form.email(class="form-control is-invalid", placholder="Email") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %} 
                        {{ form.email(class="form-control", placeholder="Email") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {% if form.password.errors %}
                        {{ form.password(class="form-control is-invalid", placholder="Password") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %} 
                        {{ form.password(class="form-control", placeholder="Password") }}
                    {% endif %}
                </div>
                <div style="display: flex; flex-direction: column; align-items: center" class="checkbox">
                    {% if form.remember.errors %}
                        {{ form.remember(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.remember.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %} 
                        <label>{{ form.remember() }} Remember Me</label>
                    {% endif %}
                </div>
            </fieldset>
            <div class="submit-button">
                {{ form.submit(class="btn-wide btn-color") }}
            </div>
        </form>
    </div>
    <h4 class="text-muted" style="padding-top: 10px; padding-bottom: 10px;">OR</h4>
    <div class="form-div">
        <form action="" method="POST">
            {{ form2.csrf_token() }}
            <div class="submit-button">
                {{ form2.submit2(class="btn-light btn-wide ") }}
            </div>
        </form>
    </div>
{% endblock content %}