{% extends "layout.html" %}

{% block page_styles %}

{% endblock page_styles %}

{% block content %}
<h1>Register</h1>
<div style="padding-top: 15px; padding-right: 25%; padding-left: 25%;">
    <form action="" method="POST">
        {{ form.csrf_token() }}
        <fieldset>
            <div class="form-group">
                {% if form.name.errors %}
                    {{ form.name(class="form-control is-invalid", placholder="Full Name") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %} 
                    {{ form.name(class="form-control", placeholder="Full Name") }}
                {% endif %}
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    {% if form.email.errors %}
                        {{ form.email(class="form-control is-invalid", placholder="Email") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %} 
                        {{ form.email(class="form-control", placeholder="Email") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-6">
                    {% if form.phone.errors %}
                        {{ form.phone(class="form-control is-invalid", placholder="Phone") }}
                        <div class="invalid-feedback">
                            {% for error in form.phone.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %} 
                        {{ form.phone(class="form-control", placeholder="Phone") }}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    {% if form.password.errors %}
                        {{ form.password(class="form-control is-invalid", placholder="Password") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %} 
                        {{ form.password(class="form-control", placeholder="Password") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-6">
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control is-invalid", placholder="Confirm Password") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %} 
                        {{ form.confirm_password(class="form-control", placeholder="Confirm Password") }}
                    {% endif %}
                </div>
            </div>
        </fieldset>
        <div class="submit-button">
            {{ form.submit(class="btn-wide btn-color") }}
        </div>
    </form>
</div>

{% endblock content %}