{% extends "layout.html" %}

{% block page_styles %}
<link rel="stylesheet" href="../static/css/register.css?v=1.2">
{% endblock page_styles %}

{% block content %}
<script>
    $(window).on('load',function(){
        $('.tj-student').change(function(){
            console.log('here')
            if( $(this).is(':checked') ) {
                $(".location-div").hide()
            }
            else {
                $(".location-div").show()
            }
        });
    });

    $(document).ready(function(){
        $('.tj-student').change(function(){
            console.log('here')
            if( $(this).is(':checked') ) {
                $(".location-div").hide()
            }
            else {
                $(".location-div").show()
            }
        });
    });
</script>

<h1>Register</h1>
<div class="form-div" style="padding-top: 15px;">
    <form action="" method="POST">
        {{ form1.csrf_token() }}
        <fieldset>
            <div class="row">
                <div class="form-group col-md-6">
                    {% if form1.name.errors %}
                        {{ form1.name(class="form-control is-invalid", placholder="Full Name") }}
                        <div class="invalid-feedback">
                            {% for error in form1.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %} 
                        {{ form1.name(class="form-control", placeholder="Full Name") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-6">
                    {% if form1.email.errors %}
                        {{ form1.email(class="form-control is-invalid", placholder="Email") }}
                        <div class="invalid-feedback">
                            {% for error in form1.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %} 
                        {{ form1.email(class="form-control", placeholder="Email") }}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    {% if form1.phone.errors %}
                        {{ form1.phone(class="form-control is-invalid", placholder="Phone") }}
                        <div class="invalid-feedback">
                            {% for error in form1.phone.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %} 
                        {{ form1.phone(class="form-control", placeholder="Phone") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-6">
                    {% if form1.carrier.errors %}
                        {{ form1.carrier(class="form-control is-invalid", style="height: 45px", placholder="Carrier") }}
                        <div class="invalid-feedback">
                            {% for error in form1.carrier.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %} 
                        {{ form1.carrier(class="form-control", style="height: 45px", placeholder="Carrier") }}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    {% if form1.password.errors %}
                        {{ form1.password(class="form-control is-invalid", placholder="Password") }}
                        <div class="invalid-feedback">
                            {% for error in form1.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %} 
                        {{ form1.password(class="form-control", placeholder="Password") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-6">
                    {% if form1.confirm_password.errors %}
                        {{ form1.confirm_password(class="form-control is-invalid", placholder="Confirm Password") }}
                        <div class="invalid-feedback">
                            {% for error in form1.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %} 
                        {{ form1.confirm_password(class="form-control", placeholder="Confirm Password") }}
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <h6>Are you a student at TJHSST in Northern Virginia?</h6>
                {% if form1.tj_student.errors %}
                    {{ form1.tj_student(class="form-control is-invalid tj-student") }}
                    <div class="invalid-feedback">
                        {% for error in form1.tj_student.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %} 
                    {{ form1.tj_student(class="form-control tj-student") }}
                {% endif %}
            </div>
            <div class="location-div">
                <div class="row">
                    <div class="col-md-6">
                        {% if form1.school_name.errors %}
                            {{ form1.school_name(class="form-control is-invalid school-name location-field", placeholder="School Name") }}
                            <div class="invalid-feedback">
                                {% for error in form1.school_name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %} 
                            {{ form1.school_name(class="form-control school-name location-field", placeholder="School Name") }}
                        {% endif %}                       
                    </div>
                    <div class="col-md-6">
                        {% if form1.school_type.errors %}
                            {{ form1.school_type(class="form-control is-invalid school-type location-field", style="height: 45px") }}
                            <div class="invalid-feedback">
                                {% for error in form1.school_type.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %} 
                            {{ form1.school_type(class="form-control school-type location-field", style="height: 45px") }}
                        {% endif %}                    
                    </div>
                </div>
                <div class="row" style="padding-top: 10px">
                    <div class="col-md-4">
                        {% if form1.city.errors %}
                            {{ form1.city(class="form-control is-invalid city location-field", placeholder="City") }}
                            <div class="invalid-feedback">
                                {% for error in form1.city.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %} 
                            {{ form1.city(class="form-control city location-field", placeholder="City") }}
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        {% if form1.state.errors %}
                            {{ form1.state(class="form-control is-invalid state location-field", style="height: 45px") }}
                            <div class="invalid-feedback">
                                {% for error in form1.state.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %} 
                            {{ form1.state(class="form-control state location-field", style="height: 45px") }}
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        {% if form1.country.errors %}
                            {{ form1.country(class="form-control is-invalid country location-field", style="height: 45px") }}
                            <div class="invalid-feedback">
                                {% for error in form1.country.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %} 
                            {{ form1.country(class="form-control country location-field", style="height: 45px") }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="submit-button" style="padding-top: 10px">
            {{ form1.submit(class="btn-wide btn-color") }}
        </div>
    </form>
</div>
<h4 class="text-muted" style="padding-top: 10px; padding-bottom: 10px;">OR</h4>
<div class="form-div">
    <form action="" method="POST">
        {{ form2.csrf_token() }}
        <div class="submit-button">
            {{ form2.submit2(class="btn-light btn-wide ") }}
        </div>
    </form>
</div>

{% endblock content %}