@import url("https://fonts.googleapis.com/css2?family=B612&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

#content-div {
    padding-right: 25%;
    padding-left: 25%;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0%;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 75%;
    height: 45px;
    width: 45px;
    background-color: rgb(133, 133, 133);
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.period-label {
    position: absolute;
    top: 10px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    opacity: 100%;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    border: solid white 2px;
    opacity: 100%;
}

#col-md-1 {
    align-items: center;
}

.reminder-column {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.reminder-column h3 {
    padding-right: 15px;
}

.color-select {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5%;
    align-items: center;
}

.submit-button {
    padding-top: 10px;
}



.switch[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.switch-label {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 20px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

.switch-label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 14px;
	height: 14px;
	background: #fff;
	border-radius: 14px;
	transition: 0.3s;
}

.switch:checked + label {
	background: dodgerblue;
}

.switch:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.switch:active:after {
	width: 130px;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.lime {
    background-color: lime;
}

.green {
    background-color: green;
}

.deepskyblue {
    background-color: deepskyblue;
}

.blue {
    background-color: blue;
}

.hotpink {
    background-color: hotpink;
}

.purple {
    background-color: purple;
}

.black {
    background-color: black;
}