@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");
html {
  scroll-behavior: smooth;
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0;
    } 
    100% { 
        opacity: 1; 
     } 
} 
.fullScreen {
    width: 100vw;
    height: 90vh;
 }

 .expand-button {
  /* position: absolute;
  float: right; */
  opacity: 80%;
} 

.expand-button:hover {
  opacity: 100%;
}

#content-container {
    height: 85vh;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 0%;
}


#content-column {
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.class-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: solid black 2px; */
    /* border-left: solid black 1px; */
}

.class-card {
    margin-bottom: 20px;
    border-radius: 10px;
}

.class-card p{
    font-size: 10px;
}

.class-card h5{
    font-size: 18px;
}

.text-small {
  font-size: 12px;
}

.text-small:hover{
  font-size: 13px;
}

.classes-column {
  transition: left 0.5s ease;
}

#show-classes {
  display: none;
}

.classes {
    /* border: solid black 2px; */
    /* border-right: solid black 1px; */
    overflow-y: scroll;
    overflow-x: hidden;
    height: 60vh;
    width: 100%;
    margin-bottom: 10px;
}

::-webkit-scrollbar {
    background-color: #343a40;
}

::-webkit-scrollbar-thumb {
    background-color: #232629;
    border-radius: 10px;
}


.addition-button {
    background-color: #cccccc;
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 30%;
}

.addition-button:hover {
    background-color: #b3b3b3;
}

.row {
    display: flex;
    justify-content: center;
}

.class-card {
    text-align: center;
    background-color: rgb(37, 37, 37);
    padding: 5px;
}

.class-card:hover{
    background-color: rgb(34, 34, 34);
    opacity: 100%;
}

.class-card:hover .text-div{
    opacity: 100%;
}

/* .class-card:hover .settings {
    opacity: 75%;
} */

.main-settings {
    opacity: 75%;
}

.main-settings:hover {
    opacity: 100%;
}

.text-div {
    color: white;
    opacity: 50%;
}

.settings-icon {
    opacity: 50%;
}

.settings-icon:hover {
    opacity: 100%;
}

.current-class {
    opacity: 100%;
}

.class-card p {
  margin-bottom: 1px;
}

.class-card a{
  margin-bottom: 1px;
}

.class-card .btn-dark {
  margin-top: 5px;
}

input.select-display-button {
    position: absolute;
    background-color: #262626;
    left: -99999em;
    top: -99999em;
    opacity: 1;
    z-index: 1;
  }

  input.select-display-button+label {
    cursor: pointer;
    float: left;
    background-color: #262626;
    border: 1px solid #aaa;
    margin-right: -1px;
    padding: .5em 1em;
    position: relative;
  }
  
  /* input.select-display-button+label:hover {
    background-color: #343a40;
  } */

  [type=radio]:checked+label {
    background-color: dodgerblue;
    z-index: 1;
  }

  .options-div {
      margin: 5px;
  }
  
.red {
    border-top: solid 7px red;
  }
  
  .orange {
    border-top: solid 7px orange;
  }
  
  .yellow {
    border-top: solid 7px yellow;
  }
  
  .lime {
    border-top: solid 7px lime;
  }
  
  .green {
    border-top: solid 7px green;
  }
  
  .deepskyblue {
    border-top: solid 7px deepskyblue;
  }
  
  .blue {
    border-top: solid 7px blue;
  }
  
  .hotpink {
    border-top: solid 7px hotpink;
  }
  
  .purple {
    border-top: solid 7px purple;
  }
  
  .black {
    border-top: solid 7px black;
  }