/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.home-div {
    background-image: url('../images/lockers.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.home-div-content {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100vw;
    backdrop-filter: blur(8px);
}

.home-image {
    width: 100px;
    height: 165px;
}

.home-div h1{
    font-size: 50px;
    font-family: "Anonymous Pro";
}

.home-div-buttons{
    width: 75%;
    max-width: 600px;
}

.about-div {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.about-div h1 {
    margin-top: 15px;
}

.contact-div {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
}

.contact-div h1 {
    margin-top: 20px;
}

.fade-in {
    animation: fadeIn ease 6.5s;
}

.anchor {
    display: block;
    padding-top: 65px;
    margin-top: -65px;
}
  
.home-div-anchor {
    margin-top: -77px;
}

  .img-col {
    padding: 20px;
    text-align: center;
  }

  .individual-img {
    border-radius: 50%;
    margin-bottom: 5px;
    max-width:150px;
    max-height:150px;
    width: auto;
    height: auto;
  }

  .individual-img:hover{
      opacity: 70%
  }

@keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.line-1{
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 2s steps(20) 1s 1 normal both,
             blinkTextCursor 700ms steps(20) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 6em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
