/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.home-div {
    background-image: url('../images/lockers.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.home-div-content {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100vw;
    backdrop-filter: blur(8px);
}

.home-image {
    width: 100px;
    height: 100px;
}

.home-div h1{
    font-size: 50px;
    font-family: "Anonymous Pro";
}

.about-div {
    padding-top: 150px;
    padding-bottom: 150px;
}

.about-div h1 {
    margin-top: 20px;
}

.contact-div {
    display: flex;
    flex-direction: column; 
    align-items: center;
    height: 90vh;
    width: 100vw;
}

.contact-div h1 {
    margin-top: 20px;
}

.fade-in {
    animation: fadeIn ease 6.5s;
}

.anchor {
    display: block;
    padding-top: 10vh;
    margin-top: -11vh;
}


.team-directory {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .img-cell {
    padding: 20px;
    text-align: center;
  }
  
  .individual-img {
    width:  250px;
    height: 250px;
    object-fit: cover;
    padding-bottom: 20px;
  }

@keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.line-1{
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 2s steps(20) 1s 1 normal both,
             blinkTextCursor 700ms steps(20) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 6em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
