@import url("https://fonts.googleapis.com/css2?family=B612&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open%20Sans&display=swap");
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
html {
  scroll-behavior: smooth;
}

.mcontainer {
  margin: 2%;
}

body {
  opacity: 1;
  transition: 1s opacity;
  overflow-x: hidden;
}

body.fade-out {
  opacity: 0;
  transition: none;
}

.btn-light, .btn-color, .btn-red {
  border-radius: 50px;
  border: none;
  text-align: center;
  -webkit-transition: background 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out;
  -ms-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}

.btn-color {
  background-color: DodgerBlue;
  color: white;
}
.btn-color:hover {
  background-color: rgb(27, 112, 197);
}

.btn-red {
  background-color: rgb(199, 33, 33);
  color: white;
}

.btn-red:hover {
  background-color: rgb(156, 28, 28);
  color: white;
}

.btn-light {
  background-color: white;
  color: rgb(46, 46, 46);
  -webkit-transition: background 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out;
  -ms-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}
.btn-light:hover {
  background-color: rgb(199, 199, 199);
  color: rgb(39, 39, 39);
}

.btn-wide {
  text-align: center;
  display: block;
  margin: auto;
  width: 90%;
  max-width: 300px;
  padding: 10px 0px;
}

.bg-color {
  background-color: DodgerBlue;
  color: #fff;
}

.pcontainer {
  padding: 5%;
}

.form-container {
  max-width: 800px;
}

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(46, 46, 46);
  color: white;
  margin-top: 65px;
}

nav {
  height: 65px;
  display: flex;
  align-items: center;
}

.navbar-collapse {
  background-color: #343a40;
  text-align: center;
}

.navbar-collapse a {
  margin-right: 10px;
}

#logo_title {
  color: white;
  font-family: "Anonymous Pro", sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}

#logo_title img {
  margin-right: 7px;
  width: 2.4rem;
  height: 2.4rem;
}

a:hover {
  text-decoration: none;
}

.page-title {
  padding-top: 10px;
}

h1, h2, h3, h4, h5, h6{
  text-align: center;
}

footer {
  text-align: center;
}

.section-full {
  height: 90vh;
}
.section-center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0px;
}
.section-color {
  background-color: DodgerBlue;
  color: #fff;
}

input[type=text], input[type=email], input[type=password], .textareas {
  background-color: #f2f2f2;
  color: #333;
  margin: auto;
  border: none;
  border-radius: 0px;
  padding: 15px 15px;
  height: 45px;
  -webkit-transition: background 0.4s ease-in-out;
  -moz-transition: background 0.4s ease-in-out;
  -ms-transition: background 0.4s ease-in-out;
  -o-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, .textareas:focus {
  background-color: #e6e6e6;
  color: #333;
  border: none;
  outline: 0px;
  box-shadow: none;
}

legend {
  margin: 0px auto 10px;
  letter-spacing: 0.4px;
}

select{
  height: 45px;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.lime {
  background-color: lime;
}

.green {
  background-color: green;
}

.deepskyblue {
  background-color: deepskyblue;
}

.blue {
  background-color: blue;
}

.hotpink {
  background-color: hotpink;
}

.purple {
  background-color: purple;
}

.black {
  background-color: black;
}

.ion-btn {
  border-radius: 20px;
}
