.form-div {
    padding-right: 25%;
    padding-left: 25%;
}

.location-field {
    height: 45px;
}

@media only screen and (max-width: 600px) {
    .form-div {
       padding-left: 5%;
       padding-right: 5%;
       align-items: center;
    }
 }